<header>
  <%logo= image_tag("logo.png", :alt => "LOGO", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Ceos", ceos_path %></li>
      <li><%= link_to "Companies", companies_path %></li>
      <li><%= link_to "Incomes", incomes_path %></li>
    </ul>
  </nav>
</header>